
<div>
  <section id="main-sec-Premium">
    <div id="sec3-div2-Premium">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-dark table-bordered table-striped mb-0">
          <thead>
          <tr>
            <th scope="col">RegNo</th>
            <th scope="col">Car_Brand</th>
            <th scope="col">Colour</th>
            <th scope="col">Passengers</th>
            <th scope="col">Transmition</th>
            <th scope="col">Fuel</th>
          </tr>
          </thead>
          <tbody id="tblPrimiumCarBody">
          <tr>
          </tr>

          </tbody>
        </table>

      </div>

    </div>
    <section id="sec2-Premium">
      <div class="row" id="emailInput">
        <div class="col-6">
          <div class="form-group">
            <label id="lblRentCarEmail-premium">Cus Email</label>
            <input aria-describedby="emailHelp" class="form-control" id="CusEmail-primum"
                   placeholder="Enter ID" type="text">
          </div>
        </div>
      </div>
      <div class="row" id="Premium-div">
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <label id="lblPriyumRegNo">Car_Reg_No</label>
                <input aria-describedby="emailHelp" class="form-control" id="PrimumcarNo"
                       placeholder="Enter ID" type="text">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label id="lblPriyumDate">Date</label>
                <input aria-describedby="emailHelp" class="form-control" id="PrimumrentDate"
                       placeholder="Enter ID" type="date">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label id="lblPriyumTime">Time</label>
                <input aria-describedby="emailHelp" class="form-control" id="PrimumrentTime"
                       placeholder="Enter ID" type="time">
              </div>
            </div>
            <div class="col-3">
              <label id="lblPriyumDriver">Driver</label>
              <select class="form-control" id="Primumdriver">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="sec4-Premium">
      <div class="row" id="btnGroupPremium">
        <button class="btn btn-primary" id="rentPrimyum" onclick="rentPremiyumcar()" type="button">Primary</button>
      </div>
    </section>
  </section>
</div>
