<div id="main-div">
  <div id="nav-div1">
    <nav>
      <div class="nav-container">
        <ul>
          <li><a id="btnhome" routerLink="">Home</a></li>
          <li><a id="btnCars" routerLink="">Cars</a></li>
          <li><a routerLink="/admin" role="button" routerLinkActive="active">Admin Sign In</a></li>
          <li><a id="btnCustomerSignIn" routerLink="/customerSignIn" routerLinkActive="active">Customer Sign In</a></li>
          <li><a id="btnDriverSignIn" routerLink="/driver">Driver Sign In</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
