<div id="dashbord">
  <section id="main" style="overflow-x: hidden">
    <section id="sec1">
      <section id="sec1-sec1">
        <img src="assets/welcome.png">
      </section>
    </section>
    <section id="sec2">
      <div id="sec2-div1">
        <label id="lblFistClass">First-Class Car Rental</label>
      </div>
      <section id="sec2-sec1">
        <div class="col mb-2">
          <div class="card"><a routerLink="/rentMiniCar" routerLinkActive="activate"></a>
            <img alt="..." class="card-img-top"  routerLink="/rentMiniCar" routerLinkActive="activate" id="ImgCarImg" src="assets/miniCar.jpg">
            <div class="card-body">
              <h5 class="card-title">Mini Cars</h5>
              <p class="card-text"><img src="assets/passenger.png" style="width: 20px"> 4 Seats</p>
            </div>
          </div>
        </div>
        <div class="col mb-2">
          <div class="card" onclick="loadPrimiumCars()">
            <img alt="..." class="card-img-top" id="PremiumCarImg" routerLink="/rentPremiyumCar" src="assets/primiyumCar.jpg"
                 style="height: 221px">
            <div class="card-body">
              <h5 class="card-title">Primium Cars</h5>
              <p class="card-text"><img src="assets/passenger.png" style="width: 20px"> 4 Seats</p>
            </div>
          </div>
        </div>
        <div class="col mb-2">
          <div class="card" onclick="loadHybridCars()">
            <img alt="..." class="card-img-top" id="HybridCarImg" src="assets/hybrid.jpg">
            <div class="card-body">
              <h5 class="card-title">Hybrid Cars</h5>
              <p class="card-text"><img src="assets/passenger.png" style="width: 20px"> 4 Seats</p>
            </div>
          </div>
        </div>
        <div class="col mb-2">
          <div class="card" onclick="loadLuxuryCars()">
            <img alt="..." class="card-img-top" id="LuxuryCarImg" src="assets/luxuryCar.jpg">
            <div class="card-body">
              <h5 class="card-title">Luxury Cars</h5>
              <p class="card-text"><img src="assets/passenger.png" style="width: 20px"> 4 Seats</p>
            </div>
          </div>
        </div>
        <div class="col mb-2">
          <div class="card" onclick="loadMiniVans()">
            <img alt="..." class="card-img-top" id="MiniVanCarImg" src="assets/miniVan.jpg">
            <div class="card-body">
              <h5 class="card-title">Mini Van</h5>
              <p class="card-text"><img src="assets/passenger.png" style="width: 20px"> 7 Seats</p>
            </div>
          </div>
        </div>
        <div class="col mb-2">
          <div class="card" onclick="loadVan()">
            <img alt="..." class="card-img-top" id="VanImg" src="assets/van.jpg">
            <div class="card-body">
              <h5 class="card-title">Van</h5>
              <p class="card-text"><img src="assets/passenger.png" style="width: 20px"> 7+ Seats</p>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section id="sec3">
      <div id="sec3-div1">
        <div id="sec3-div1-div1">
          <label id="lblE">E</label>
          <label id="lblAsy">asy</label>
          <label id="lblCarRental">Car Rental(pvt)</label>
        </div>
        <div id="sec3-div1-div2">
          <<img src="assets/car.png">
        </div>
        <div style="text-align: center">
          <label style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            consectetur lobortis mauris eget fringilla.<br>Curabitur laoreet iaculis sem ac tincidunt. Proin
            in malesuada elit, at dapibus nisi. Sed turpis justo, pharetra vitae sem vitae, </label>
        </div>
        <div id="sec3-div1-div3">
          <img src="assets/google-maps.png">
          <label style="font-size: 10px;color: white"> No. 200, Galle Road, Panadura</label>
        </div>
        <div id="sec3-div1-div4">
          <img src="assets/phone-call.png">
          <label style="font-size: 10px;color: white">(+94)-780909708</label>
        </div>

      </div>
    </section>
  </section>
</div>

